@page "/Account/Login"

<PageTitle>Log in</PageTitle>

<h1>Log in</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>With Microsoft.</h3>
            <hr />
            <ExternalLoginPicker />
        </section>
    </div>
</div>

@code {
}
