@using System.Threading.Tasks
@using Shared.Models
@using Microsoft.AspNetCore.Components
@using Shared.Services.Interfaces
@using System.Text.RegularExpressions
@inject ILocalAuthorityApiService AuthorityService
@inject IJSRuntime JS
@rendermode InteractiveWebAssembly

<div class="toolbox">
    <button id="toggleLayer" @onclick="OnToggleLayer">Toggle Layer</button>

    <div class="search-box">
        <input type="text" @bind="searchQuery" @oninput="OnSearchInput" placeholder="Search Areas..." />

        <button id="search" @onclick="OnSearchClick" disabled="@(!IsValidQuery)">Search</button>

        @if (!IsValidQuery && searchQuery.Length > 0)
        {
            <p class="validation-message">Only letters and spaces are allowed. Numbers and special characters are not valid.</p>
        }
    </div>

    @if (filteredAreas?.Count > 0)
    {
        <ul class="suggestions">
            @foreach (var area in filteredAreas)
            {
                <li @onclick="() => SelectArea(area)">@area</li>
            }
        </ul>
    }
</div>

@code {
    private string searchQuery = string.Empty;
    private List<string> areas = new List<string> { };
    private List<string> filteredAreas = new List<string> { };
    private static readonly int debounceDelay = 500; // 500ms delay for debouncing
    private System.Threading.CancellationTokenSource debounceSearchCts;
    private bool IsValidQuery =>
    !string.IsNullOrWhiteSpace(searchQuery) && 
    searchQuery.Length > 2 &&
    Regex.IsMatch(searchQuery, @"^[A-Za-z\s]+$");

    private async Task Debounce(Action RequestToMake)
    {
        if (!IsValidQuery) return;

        debounceSearchCts?.Cancel();
        debounceSearchCts = new CancellationTokenSource();
        var token = debounceSearchCts.Token;

        try
        {
            await Task.Delay(debounceDelay, token);

            if (!token.IsCancellationRequested)
            {
                RequestToMake();
            }
        }
        catch (TaskCanceledException)
        {

        }
    }

    private async void ToggleLayer()
    {
        await JS.InvokeVoidAsync("azureMaps.clearMap");
    }

    private async void FillIntellisense()
    {
        filteredAreas = await AuthorityService.FilterByNameAsync(searchQuery);
        StateHasChanged();  // Refresh UI after update
    }

    private async void FilterAreas()
    {
        if (!IsValidQuery) return;
        filteredAreas = new List<string>();
        var localAuthorityGeo = await AuthorityService.BboxByNameAsync(searchQuery);
        await JS.InvokeVoidAsync("azureMaps.setFilter", searchQuery, localAuthorityGeo);
    }

    private void SelectArea(string area)
    {
        searchQuery = area;
        filteredAreas = new List<string>(); // Clear suggested districts
    }

    private async void OnToggleLayer()
    {
        await Debounce(ToggleLayer);
    }

    private async void OnSearchInput(ChangeEventArgs e)
    {
        if (e.Value == null) return;
        searchQuery = e.Value.ToString() ?? "";

        // Don't trigger Autocomplete request until the user stops typing
       await Debounce(FillIntellisense);
    }

    private async void OnSearchClick()
    {
        await Debounce(FilterAreas);
    }

}
