@page "/"

<PageTitle>Home</PageTitle>


<h4>Hello!</h4>
<p>Welcome to your new app.</p>

<b>
    Please click on the Auth Required button on the sidebar navigation menu
    <br />
    and login
</b>

