@page "/auth"
@inject IdentityUserAccessor UserAccessor
@attribute [Authorize]


<PageTitle>Auth</PageTitle>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    <h1>Welcome to local authorities district Maps</h1>
    <p>Here can discorver different local district authorities.</p>
    <Maps />
</AuthorizeView>

@code {

}
